@use "../../sass/index.scss" as *;

.list_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: $screen-size;
  margin: $screen-content;
  .list {
    flex-wrap: wrap;
    flex-direction: column;
    @include flex("", flex-start);
    .list_item_content {
      margin: 10px;
      border: 1px solid #ccc;
      cursor: pointer;
      .home_images {
        width: $max-content;
      }
    }
    .list_item_content_description {
      padding: 2px 10px;
    }
    strong {
      font-weight: bold;
    }
  }
}
