@use "../../sass/index.scss" as *;

.details_container {
  max-width: $screen-size;
  margin: $screen-content;

  .left_info {
    margin-left: 20px;
    width: $max-content;
    span {
      text-decoration: underline;
      margin-left: 10px;
    }
  }
  strong {
    margin-left: 10px;
  }
  i {
    font-style: italic;
    margin-left: 10px;
  }

  legend {
    padding-inline-start: $iniline;
    padding-inline-end: $iniline;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .header_wrapper {
    border: $border;
  }
  .header {
    @include flex(center, space-between);
    padding: 20px;
    img {
      height: 200px;
    }
  }
  .right_info {
    padding: 0px 0px 10px 0px;
    margin-left: 10px;
    height: max-content;

    span {
      text-decoration: underline;
      margin-left: 10px;
    }
  }
}
